
*{
    margin: 0
}
.vision{
    background-color: #58c6d2;
    border-radius: 10px;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
.bg{
    background-color: #bfd99a;
}
li{
    list-style-type: none;
    display: inline;
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007482 ;
    height: 15vh;
    text-align: center;
    font-size: 24px;
}
.menu{
    display: flex;
    background-color: #A0CF5F;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link ul li a{
    padding: 0 35px;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}
.nav-link ul li:hover{
    font-size: 18px;
    font-weight: bold;
}
h1{
    text-align: center;
    background-color: #007482;
    padding: 1rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1.25rem;
}
.content{
    padding: 10px;
}