*{
    margin: 0
}
li{
    list-style-type: none;
    display: inline;
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007482 ;
    height: 15vh;
    text-align: center;
    font-size: 30px;
}
.menu{
    display: flex;
    background-color: #A0CF5F;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link ul li a{
    padding: 0 35px;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}
.nav-link ul li:hover{
    font-size: 18px;
    font-weight: bold;
}
.flex-box{
    display: flex;
    margin-top: 2rem;
    align-items: center;
}
h1{
    text-align: center;
    background-color: #007482;
    padding: 1rem;
}
form{
    background-color: white;
    align-items: flex-end;
    width: 20%;
    padding: 2%;
    margin-right: 2%;
    box-shadow: 5px 5px 20px;
    margin-left: auto;
    margin-bottom: 10rem;
}
.flex-box p{
    width: 60%;
    padding: 3%;
}
textarea{
    resize: none;
    width: 100%;
}
#submit{
    margin: 0.5rem 0;
    background-color:#B0E0E6;
    border: #87CEEB;
    padding: 3%;
    width: 30%;
    border-radius: 6%;
}
#submit:hover{
    cursor: pointer;
    background-color: #1E90FF;
    font-weight: 900;
}
input{
    height: 2rem;
    width: 100%;
}
label{
    margin-top: 1rem;
}
.logo{
    height: 5rem;
    width: 10rem;
}
@media only screen and (max-width: 800px){
    .flex-box {
        display: block;
    }
    form{
        float: left;
        width: 50%;
        margin-left: 20%;
    }
    .flex-box p{
        width: 90%;
    }
}